[user]
  name = miks
  email = miks@cubesystems.lv
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore_global
  editor = vim -f
[push]
  default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[tag]
	sort = version:refname
